# Ignore node_modules directory
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore .env file (si tienes archivos de configuración de entorno)
.env

# Ignorar el archivo package.json
package.json