.cart-button {
  align-items: center;
  background: #09f; /* Asegúrate de que este color se vea bien con el fondo de tu página */
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all 0.3s ease;
  z-index: 9999; /* Asegúrate de que este valor sea más alto que otros elementos */
  color: white; /* Asegura que el color del texto sea visible */
}

.offcanvas-body {
  /* Override default scrollbar styles */
  scrollbar-width:thin; /* Enable customization */
  scrollbar-color: rgba(0, 4, 255, 0.2) rgba(17, 0, 255, 0.1); /* Customize colors */
}

.custom-buy-button {
  /* Your custom styles for the button */
  background-color: #007bff; /* Example: Change background color */
  border-color: #0056b3; /* Example: Change border color */
  font-size: 18px; /* Example: Increase font size */
  padding: 12px 20px; /* Example: Adjust padding */
}

.boton{
  padding-left: 7em;
  padding-bottom: 2em;
}

.small1{
margin-left: 1em;
}

.button2{
  margin-left: 2.7em;
}

.button3{
  margin-left: 0.5em;
}
