/* Cart.css */
.cart {
  padding: 20px;
  list-style: none;
  max-height: 100%;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff; /* Fondo blanco para la tarjeta */
  padding: 10px;
  border: 1px solid #ddd; /* Borde para separar visualmente las tarjetas */
  border-radius: 5px; /* Bordes redondeados */
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item div {
  display: flex;
  flex-direction: column;
  flex: 1; /* Para ocupar el espacio disponible */
}

.cart-item h4 {
  margin: 0 0 5px;
}

.cart-item p {
  margin: 0 0 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Margen inferior para separarlos del botón de eliminar */
}

.quantity-control button {
  margin: 0 5px;
}

.cart-item button {
  align-self: flex-start; /* Para alinear los botones al principio del contenedor */
}

.cart-button {
  align-items: center;
  background: #09f; /* Asegúrate de que este color se vea bien con el fondo de tu página */
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all 0.3s ease;
  z-index: 9999; /* Asegúrate de que este valor sea más alto que otros elementos */
  color: white; /* Asegura que el color del texto sea visible */
}