.link {
  text-decoration: none !important;
  color: black !important;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-img-top-Home {
  object-fit: cover;
  height: 200px;
}

.card-body {
  padding: 1.25rem;
}

.link:hover {
  color: blue !important;
}

ul,
ol {
  list-style-type: none;
}
h1 {
  padding: 50px 0px 50px 0px !important ;
}

.custom-card-Home{
  height: 22em;
}

.card-title{
  padding-top: 0.5em;
  padding-left: 0.5em;
}