.outerContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: flex-start; /* Alinea los contenedores al inicio */
  gap: 20px; /* Espacio entre los contenedores */
}

.leftContainer {
  max-width: 300px; /* Reduce el ancho máximo del contenedor izquierdo */
}

.rightContent {
  width: 600px; /* Define un ancho fijo para el contenedor derecho */
  flex-shrink: 0;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
  margin-top: 15px;
}

.btn-secondary {
  width: 100%;
  background-color: #4285f4;
  color: white;
  margin-top: 15px;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.btn-google::before {
  content: url("https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg");
  margin-right: 5px;
}

.btn-link {
  width: 100%;
  text-align: left;
  color: #007bff;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 15px;
}

.btn-link:hover {
  text-decoration: underline;
}
